@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container bg-light p-4 rounded shadow-lg my-5" style="max-width: 600px">
    <h2>Privacy Policy</h2>
    <p>Soon to be here</p>
</div>